body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #ff00ff, #00ffff, #ff9900);
  background-size: 400% 400%;
  animation: bgmove 10s infinite;
  color: #fff;
}

@keyframes bgmove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#startPage {
  text-align: center;
  padding-top: 80px;
}

#username {
  padding: 10px;
  width: 70%;
  max-width: 300px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}

button {
  padding: 12px 25px;
  margin-top: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #000;
  color: #0ff;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

#qstage {
  padding: 15px;
}

.question-card {
  background: rgba(0,0,0,0.5);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.qtext {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.option {
  display: block;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

input[type=radio] {
  transform: scale(1.3);
  margin-right: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.navBtn {
  width: 45%;
  background: #111;
  color: #0ff;
  font-weight: bold;
}

#result {
  text-align: center;
  font-size: 22px;
  padding: 20px;
  display:none;
}
